@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .home-clip {
    clip-path: ellipse(180% 100% at 50% 0);
  }

  @media (min-width: 1024px) {
    .home-clip {
      clip-path: ellipse(120% 100% at 50% 0);
    }
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
